notifications {

  .line{
    border-bottom: 1px solid #b5b5b5bf;
  }

  .button-notifications{
    width: 90%;
    height: 40px;
    background-color: whitesmoke;
    color: #6a1b9a;
    font-size: 1em;
    font-weight: 300;
    margin-left: 4%;
    border-radius: 20px;
  }

}
