
<ion-row text-center class="text-items">
  <ion-col col-3 (click)=loadStates()>
    <div class="img-stream">
      <img src="assets/img/stream.png">
      <div class="text-stream">
        Ao Vivo
      </div>
    </div>
  </ion-col>
  <ion-col col-3 (click)=loadAbout()>
    <div class="img-about">
      <img src="assets/img/about.png">
      <div class="text-about">
        Sobre
      </div>
    </div>
  </ion-col>
  <ion-col col-3 (click)=loadPromo()>
    <div class="img-promotions">
      <img src="assets/img/promotions.png">
      <div class="text-promotions">
        Promoções
      </div>
    </div>
  </ion-col>
  <ion-col col-3 (click)=loadDrops()>
    <div class="img-drops">
      <img src="assets/img/drops.png">
      <div class="text-drops">
        Drops
      </div>
    </div>
  </ion-col>
</ion-row>
